* {
    box-sizing: border-box;
    /* position: relative; */
    min-width: 0;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100dvh;
}

h1, h2, h3, h4 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}

.contenedorGeneral {
    height: 100vh;
    width: 100vw;
    background-color: #303DFF;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.contenedorPresentacion {
    margin: 0 5rem;
}

.contenedorPresentacion .nombre {
    padding-top: 2rem;
    text-align: center;
}

.contenedorPresentacion .tituloPagina {
    padding: 1rem 0;
    text-align: center;
}

.contenedorPresentacion .presentacion {
    background-color: #D9F2FC;
    padding: 0.5rem;
    border-radius: 0.4rem;
    
}

.contenedorPresentacion .presentacion .tituloPresentacion {
    text-align: center;
    padding: 0.5rem;
}

.contenedorPresentacion .presentacion .parrafoPresentacion {
    text-align: center;
    padding: 0.5rem;
}